@import url("https://fonts.googleapis.com/css2?family=Grandstander&display=swap");

body {
  padding: 0;
  margin: 0;
}

#authWrapper {
  width: 33%;
  float: left;
  background-color: rgb(217, 238, 255);
  /* height: 100vh; */
  bottom: 0;
  top: 0;
  overflow-y: scroll;
  position: fixed;
}

#authContent {
  padding: 0 1em 1em;
  margin-top: 105px;
}

#issuesWrapper {
  margin-left: 33%;
  position: relative;
  top: 0;
  padding: 1em 1em;
  background-color: rgb(226, 255, 224);
  min-height: 100vh;
}

.carSelect {
  display: grid;
  grid-template-columns: 1fr 1fr 0.3fr;
  grid-gap: 0.5em;
}

.carSelectButton {
  /* height: 50%; */
  width: 100%;
}

.issueCard {
  margin-top: 1em;
  padding: 1em;
  /* -webkit-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.46); */
  /* box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.46); */
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 2px 13px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 6px 13px -7px #000000, 0px 2px 13px 0px rgba(0, 0, 0, 0);
}

.issueTitle {
  font-size: larger;
  font-weight: bold;
}

.issueSubtitle {
  font-style: italic;
  color: blue;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 0; */
}

.issueBody {
  padding: 0;
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 4px;
}

.issueBody p {
  margin: 0.5em;
}

.fixCard {
  margin-top: 1em;
  color: white;
}

.noFixes {
  color: red;
  margin: 12px 0 0;
}

.linkButton {
  cursor: pointer;
  text-decoration: underline;
}

.linkButton:hover {
  text-decoration: none;
}

#deleteButton {
  color: red;
}

.editButton {
  color: rgb(201, 181, 0);
}
.editButton:hover {
  color: rgb(201, 181, 0);
}

.firstButton {
  margin-right: 1em;
}

.expandFixes {
  color: rgb(0, 184, 0);
  /* width: fit-content; */
  user-select: none;
}

.expandFixes:hover {
  color: rgb(0, 184, 0);
}

.fixesSpan {
  margin-top: 12px;
}

#fixForm {
  display: flex;
  margin-top: 12px;
}

#mainLogo {
  text-align: center;
  padding: 10px 0 0;
  font-size: 60px;
  background-color: rgb(255, 198, 132);
  font-family: "Grandstander", cursive;
  /* border-bottom: 6px solid white; */
  position: fixed;
  width: 33%;
  z-index: 50;
  user-select: none;
  text-decoration: none;
  color: black;
}

#aboutCredits {
  position: relative;
  left: 33%;
  width: 66%;
  text-align: center;
  padding-top: 1rem;
}

#postLink {
  color: rgb(255, 123, 0);
}
